@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    @page {
        size: landscape;
        margin: 0
    }
    .speed-dial{
        display: none;
    }
    nav{
        display: none;
    }
    div{
        margin: 0 !important;
        padding: 0 !important;
    }
    header{
        padding: 5px;
    }
    table{
        width: 100%;
        overflow: clip;
    }
    td{
        width: 0 !important;
        padding: 0;
    }
}
